[Unit]
Description=NodeBB forum
Documentation=https://docs.nodebb.org
After=network.target redis-server.service
Wants=redis-server.service
# written by the first boot hook; until then the unit does nothing
ConditionPathExists=/var/www/nodebb/config.json

[Service]
Type=simple
User=nodebb
Group=nodebb
WorkingDirectory=/var/www/nodebb
Environment=NODE_ENV=production
ExecStart=/usr/bin/node loader.js --no-daemon --no-silent
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
